[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0801,R1705,W1203

[REPORTS]
output-format = text
reports=no

[BASIC]
good-names=i,j,k,ex,Run,_,logger
variable-rgx=[a-z_][a-z0-9_]{0,30}$

[FORMAT]
max-line-length=120
indent-string='    '

[DESIGN]
max-args=10

[LOGGING]
logging-modules=logging

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
